.relative{
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px solid coral;
    z-index: 1;
}

.absolute{
    position: absolute;
    top: 80px;
    left: 20px;
    border: 3px dotted blueviolet;
    height: 100px;
    width: 200px;
    z-index: 2;
}

.mainDiv{
    position: relative;
}