ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #805a5a;
}

li a {
    display: block;
   color: #9fb103;
   padding: 8px 16px;
   text-decoration: none;
}

li a:hover{
    background-color: #555;
    color:white;
}