/* Descendant Selector (Space):
Descendant selector matches all elements that are 
descendant of a specified element.
*/
div p{
    color: white;
    background-color: cornflowerblue;
}

/* 
Child Selectors (>):
The child selector selects all elements 
that are the children of a specified element.
*/
div > p{
    color: white;
    background-color: blueviolet;
}

