/* Unvisited link */
a:link{
    color: red;
}

/* Visited link */
a:visited{
    color: green;
}

/*  mouse over link */
a:hover{
    color: hotpink;
}

/* selected link */
a:active{
    color: blue;
}

/* Pseudo-classes can be combined with HTML classes */
a.highlight:hover{
    color: #ff0000;
}

div{
    background-color: green;
    color: white;
    padding: 25px;
    text-align: center;
}
div:hover{
    background-color: blue;
}