/* Global Variable */
:root{
    --blue: blue;
    --red: red;
    --coral: coral;
    --white: white;
    --green: green;
}
body{
    background-color: var(--blue);
}
h2 {
    border-bottom: 2px solid var(--coral);
}

.container{
    color: var(--blue);
    background-color: var(--white);
    padding: 15px;
}

button {
    --button-blue: #0000ff /*new local variable */
    background-color: var(--white);
    color: var(--button-blue);
    border: 1px solid var(--coral);
    padding: 5px;
}

















